Contents below - 
1. Lists

In [3]:
# 1. Lists - Python 
## Built in Data types in python,list is a sequence of comma seperated items, enclosed in square brackets []. 
### The items need not to be of the same data type

list1 = ['Rohan', 'Physics', 21, 69.75]
list2 = [1,2,3,4,5]
list3 = ['a', 'b','c', 'd']
list4 = [25.03, True , -55, 1+2j]

#### list is a sequence data type, and is an ordered collection of items, Each item has unique position index
#### starting from 0.
### List is similar to an array in C, C++ or Java, but the main difference is array elements must of same data type
#### Python list is mutable and items can be accessed using indexes and can be modified
#### List can have same item at multiple index positions

In [5]:
### Python List operations

#### Concatenate two lists +
#### Repeatition *
#### Membership operators 'IN' and 'NOT IN' works with list objects
#### list1[0] , list1[-1], list1[2:4] - sublist 
list4[3] = 111
list4

[25.03, True, -55, 111]

In [7]:
## Append() - Adds the item at the end of the existing list
list1.append('e')
list1

['Rohan', 'Physics', 21, 69.75, 'e', 'e']

In [9]:
## Insert() method inserts the item at a specified index in the list
list1.insert(-1, 'Pass')
list1

['Rohan', 'Physics', 21, 69.75, 'e', 'Pass', 'Pass', 'e']

In [11]:
## Remove() - removes list items
list1.remove('e')
list1

['Rohan', 'Physics', 21, 69.75, 'Pass', 'Pass']

In [14]:
## Pop() mentod - removes the items from the list
list1.pop(3)
list1

['Rohan', 'Physics', 21]

In [17]:
## Del keyword - deletes any python object from the memory
del list1[1]
list1

['Rohan']

In [19]:
## can delete a slice from the list using del keyword
del list2[0:2]
list2

[3, 4, 5]

In [21]:
## Loop List - for loop 
list2
for x in list2:
    print(x, end = '')

345

In [23]:
lst5 = [ 25, 22,20,12, 10 , 100]
indices = range(len(lst5)

SyntaxError: unexpected EOF while parsing (1918496714.py, line 4)

In [43]:
lst6 = [25,12,10,-21,10,100]
indices = range(len(lst6))

In [44]:
for i in indices:
    print("lst6[{}]: ".format(i), lst6[i])

lst6[0]:  25
lst6[1]:  12
lst6[2]:  10
lst6[3]:  -21
lst6[4]:  10
lst6[5]:  100

In [45]:
lst6

[25, 12, 10, -21, 10, 100]

In [50]:
## List Comprehension - faster than for loop
### list comprehension is similar to builder notation in mathematics, concise way to create a new list and is faster than for loop
####  For loop -
chars=[] # storage area
for ch in 'tutorialpoint': 
    if ch not in 'aeiou':
        chars.append(ch)
print(chars)

['t', 't', 'r', 'l', 'p', 'n', 't']

In [51]:
## Above results using list comprehension instead of for loop
chars = [char for char in 'tutorialpoint' if char not in 'aeiou']
print(chars)

['t', 't', 'r', 'l', 'p', 'n', 't']

In [52]:
## list comprehension to build a list of squares of numbers between 1 to 10 
squares = [x * x for x in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
## Nested loop in list comprehension 
### All combinations of items from two lists in the form of a tuple are added in a third list object
list11 = [1,2,3]
list12 = [4,5,6]
CombList =[(x,y) for x in list11 for y in list12]
print(CombList)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [55]:
## Condition in list comprehension 
### the following statement will create a list of all even numbers between 1 and 20
list1=[x for x in range(1,21) if x%2==0]
print (list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
## sort list - rearranges the itesm in ascending or descending order, rearragement takes place in same list
### and that it doesn't return a new object
#### Syntax - list1.sort(key,reverse)
##### Key - Function applied to each item in the list. The return value is used to perform sort - Optional
###### Reverse - Boolean value, if set to True will return in descending order - Optional

In [65]:
list13 = ['Physics', 'biology', 'chemistry']
list13.sort()
list13

['Physics', 'biology', 'chemistry']

In [66]:
list13.sort(reverse= True)
list13

['chemistry', 'biology', 'Physics']

In [68]:
## str.lower as key parameter in sort method
list13.sort(key = str.upper)
list13

['biology', 'chemistry', 'Physics']

In [69]:
## User Defined function as key parameter in sort method
### The myfunction() uses % operator to return the remainder based on which the sort is done
def myfunction(x):
    return x%10
list1 = [17,23,46,51,90]
print('list before sort', list1)
list1.sort(key = myfunction)
print('list after sort:', list1)

list before sort [17, 23, 46, 51, 90]
list after sort: [90, 51, 23, 46, 17]

In [75]:
## Python Copy list 
### In python a variable is just a label or reference to the object in the memory. The list lst1 = lst refers to
#### the same list object in the memory.
##### So if we update lst it will automatically update lst1 as it is pointing to the lst which means that lst1 
###### is not the physical copy of the lst, so we have to create a physical copy to not cause effect in original
####### list, we have to use lst.copy() method to create a physical copy of the list object
lst1 = list13.copy()
lst1

['biology', 'chemistry', 'Physics']

In [76]:
## Python Join list
### In Python list is classified as a sequence type object. it is a collection of items, whcih may be of different
#### data types, with each item having a positional index starting with 0, Concatenation operator can join two list
L1 = [10,122,123]
L2 = ['one', 'twop', 'three']
L3 = L1+L2
print('joined list', L3)

joined list [10, 122, 123, 'one', 'twop', 'three']

In [78]:
## Augmented concatenation operator += to append L2 to L1
L1+=L2
print(L1)

[10, 122, 123, 'one', 'twop', 'three', 'one', 'twop', 'three']

In [79]:
## Above result can be acheived by extend() method as well
L1.extend(L2)
print('joined list', L1)

joined list [10, 122, 123, 'one', 'twop', 'three', 'one', 'twop', 'three', 'one', 'twop', 'three']

In [80]:
## Add items from one list to another, iterative solution. Traverse items of second list with a for loop and append
### each iteam in the first
L1 = [10,122,123]
L2 = ['one', 'two', 'three']

for x in L2:
    L1.append(x)

print('joined list:', L1)

joined list: [10, 122, 123, 'one', 'two', 'three']

In [82]:
## List comprehension to join two lists -
L3 = [ y for x in[L1,L2] for y in x]
L3

[10, 122, 123, 'one', 'two', 'three', 'one', 'two', 'three']

In [ ]:
### Python List exercises - 
# https://www.tutorialspoint.com/python/python_list_exercises.htm